<div class="head text-center">My Bookstore</div>
<form action="/search" method="post">
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="A">A</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="B">B</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="C">C</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="D">D</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="E">E</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="F">F</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="G">G</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="H">H</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="I">I</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="J">J</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="K">K</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="L">L</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="M">M</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="N">N</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="O">O</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="P">P</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="Q">Q</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="R">R</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="S">S</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="T">T</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="U">U</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="V">V</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="W">W</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="X">X</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="Y">Y</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="Z">Z</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="0">0</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="1">1</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="2">2</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="3">3</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="4">4</button></div>
    </div>
    <div class="row justify-content-center">
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="5">5</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="6">6</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="7">7</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="8">8</button></div>
        <div class="col-2"><button type="submit" class="btn btn-sm" name="selectedButton" value="9">9</button></div>
    </div>
</form>